.stakeButton {
  background-color: rgba(255, 255, 255, 0);
  color: white;
  font-size: 1em;
  border: white solid 0.05em;
  border-radius: 0.5em;
  height: 3em;
  width: 15em;
  margin-top: 1em;
  cursor: pointer;
  }
  .stakeButton:hover {
    background-color: #2675cf;

  }

  
  .unstakeButton {
    background-color: rgba(255, 255, 255, 0);
    color: white;
    font-size: 1em;
    border: white solid 0.05em;
    border-radius: 0.5em;
    height: 3em;
    width: 15em;
    cursor: pointer;
  }

  .unstakeButton:hover {
    background-color: #1c375f;

  }
