.Grid {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: 5em auto 50em auto 5em;
  grid-template-rows: 10em auto 30em;

  height: 99em;
}

.Child {
  background: linear-gradient(
      16deg,
      rgb(11, 30, 56) 0%,
      rgb(10, 37, 73) 42%,
      rgb(8, 45, 95) 100%
    ),
    linear-gradient(to right, rgb(37, 62, 99), rgb(11, 31, 70));

  border: 0.3em solid rgba(23, 60, 139, 0.514);
  background-repeat: no-repeat;
  background-origin: padding-box, border-box;
  border-radius: 2.5em;
  grid-column: 3;
  grid-row: 2;
  text-align: center;
  color: white;
  -webkit-box-shadow: 0px 0px 50px 50px rgba(0, 0, 0, 0.44);
  box-shadow: 0px 0px 800px 20px rgba(19, 75, 99, 0.44);
}



/* ......... */
.inputDiv {
  padding: 3em;
  height: 5em;

align-items: center;
}

.input {
height: 2.5em;
  width: 30em;
  border-radius: 0.5em;
  border: none;
  text-align: center;

}
input:focus {
  outline: none;
  border: 0.2em solid rgba(23, 60, 139, 0.301);
}
