.Grid {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: 5em auto 40em auto 5em;
  grid-template-rows: 10em auto 30em;

  height: 99em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
}

.Child {
  background: linear-gradient(
      16deg,
      rgb(11, 30, 56) 0%,
      rgb(10, 37, 73) 42%,
      rgb(8, 45, 95) 100%
    ),
    linear-gradient(to right, rgb(37, 62, 99), rgb(11, 31, 70));

  border: 0.3em solid rgba(23, 60, 139, 0.514);
  background-repeat: no-repeat;
  background-origin: padding-box, border-box;
  border-radius: 2.5em;
  grid-column: 3;
  grid-row: 2;
  text-align: center;
  color: white;
  -webkit-box-shadow: 0px 0px 50px 50px rgba(0, 0, 0, 0.44);
  box-shadow: 0px 0px 800px 20px rgba(19, 75, 99, 0.44);
}



/* ......... */
.inputDiv {
  padding: 3em;
  height: 5em;

align-items: center;
}

.input {
height: 2.5em;
  width: 30em;
  border-radius: 0.5em;
  border: none;
  text-align: center;

}
input:focus {
  outline: none;
  border: 0.2em solid rgba(23, 60, 139, 0.301);
}

.totals {
  /* padding-top: 3em; */
  margin-top: 3em;
  height: 3em;
}

.for_testing {
  margin-top: 13em;
  background-color: rgba(95, 158, 160, 0.034);
  height:24em;
  border-radius: 0 0 2em 2em;
}


.for_testing p {
  padding-top: 1em;
  color: #37a99e;

}

.for_testing button  {
background-color: rgba(255, 255, 255, 0);
  color: white;
  font-size: 1em;
  border: white solid 0.05em;
  border-radius: 0.5em;
  height: 5em;
  width: 15em;

}

.for_testing button:hover {
  background-color: rgba(255, 255, 255, 0.068);
}